@page
@model Hckrieger.Pages.Posts.ArchivesModel
@{
    ViewData["Title"] = "Posts";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Posts</h1>

<div class="row post-archives">
    @if (Model.Posts.Count > 0)
    {
        @foreach (var item in Model.Posts)
        {
            <div class="col-lg-6">

                <div class="post post-@item.PostId">

                    <h5>Hunter Krieger</h5>
                    <h3><a asp-page="/Posts/Details" asp-route-id="@item.PostId">@item.Title</a></h3>
                    <h5>@item.DatePublished</h5>
                </div>
            </div>

        }
    } else
    {
        <h5 class="mt-3 text-center">
            Sorry, there are no posts right now.  Check back later.
        </h5>
    }


</div><br />