@page
@model Hckrieger.Pages.AboutModel
@{
    ViewData["Title"] = "About page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div>
    <h2 class="mb-3">About Hunter Krieger</h2>
    <img class="about-image" src="/images/me_with_dog.jpg" />
    <p>Hunter is a reader, writer, gamer, musician and programmer.  He is planting his flag in the territory he intends to colonize within this vast ecosystem known as the World Wide Web.</p>
    <p>He has read dozens (perhaps hundreds) of books pertaining to psychology, music, tech, science, video games, history etc. and intends to uncover what he learns by <a asp-page="/Posts/Archives">writing about it</a></p>
    <p>After bouncing aimlessly from programming language to programming language, he has stumbled upon the awsome power of C# and the .Net platform to build powerful web apps and games through <a href="https://dotnet.microsoft.com/apps/aspnet">ASP.NET</a> and <a href="https://www.monogame.net/">MonoGame</a>, respectively</p>
    <p>He has developed an ear for music by studying and analyizing <a href="https://wwnorton.com/books/9780393624144">over six decades of Rock/Pop music</a> and reproduces what he hears by playing them instrumentally.</p>
    <p>He appreciates that you're reading this and <a asp-page="/Contact">he looks forward to hearing from you!</a></p>
</div>