@page
@model Hckrieger.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2 class=mb-3>Contact</h2>
<h5>Contact me at <a style="font-size: 14px;" href="mailto:hckrieger77@outlook.com">hckrieger77@outlook.com</a></h5>