<div class="navigation" style="margin-bottom: 15px;">
    <a class="btn btn-md btn-success" asp-page="./Upsert">Create Post</a>
    <a class="btn btn-md btn-primary" asp-page="/Categories/Index">Create Category</a>
    <a class="btn btn-md btn-warning" asp-page="/Tags/Index">Create Tag</a>
    <a class="btn btn-md btn-info" asp-area="Identity" asp-page="/Account/Manage/Index">Account Settings</a> 
</div>